@model AutoMart.Models.Review

<h2>Please give your review</h2>
</br>

@using (Html.BeginForm(actionName: "New", controllerName: "Reviews", method: FormMethod.Post, routeValues: new { id = Model.VehicleId }))
{
    @Html.Label("Text", "Your Rating: ")
    <br />
    @Html.TextArea("Text", null, new { @class = "form-control" })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Rating", "Your Rating: ")
    <br />
    @Html.TextBox("Rating", null, new { @class = "form-control" })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Rating, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.HiddenFor(m => m.UserId, new{ value = Model.UserId})
    @Html.HiddenFor(m => m.VehicleId, new{ value = Model.VehicleId})
    @Html.HiddenFor(m => m.Date, new{ value = DateTime.Now})

    <button class="btn btn-outline-secondary" type="submit">Posteaza review-ul!</button>

}
