@model AutoMart.Models.Feedback

<h2>Editing Review @Model.ReviewId</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Feedbacks", method: FormMethod.Post, routeValues: new { id = Model.ReviewId }))
{
    @Html.Label("Text", "Your Review: ")
    <br />
    @Html.EditorFor(m => m.ReviewText, new { htmlAttributes = new { @class = "form-control" }, value = Model.ReviewText})
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.ReviewText, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Rating", "Your Rating: ")
    <br />
    @Html.EditorFor(m => m.Rating, new { htmlAttributes = new { @class = "form-control" }, value = Model.Rating })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Rating, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.HiddenFor(m => m.VehicleId, new { value = Model.VehicleId })
    @Html.HiddenFor(m => m.DateSubmitted, new { value = DateTime.Now })

    <button class="btn btn-outline-secondary" type="submit">Edit Review!</button>
}


@try
{
        @foreach(var err in ViewBag.Errors)
    {
        <div>
            @err
        </div>
    }

}
catch
{

}
